html, body {
    height: 100%;
    margin: 0;
    background-color: #112B3C;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: -50px;
}

.etchpad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #EFEFEF;
}

.header {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Zen Loop', cursive;
    font-size: 120px;
    font-weight: bold;
    color: #F66B0E;
}

.instructions {
    width: 20%;
    font-family: 'Zen Loop', cursive;
    font-size: 32px;
    color: #F66B0E;
}

.footer {
    background-color: #112B3C;
    color: #EFEFEF;
    height: 50px;
    text-align: center;
}

.button {
	background-color: #F66B0E;
	border-radius:22px;
	border:1px solid #F66B0E;
	display:inline-block;
	cursor:pointer;
	color: #EFEFEF;
	font-family: 'Zen Loop';
	font-size:20px;
	padding:16px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.button:hover {
	background-color:#5cbf2a;

}
.button:active {
	position:relative;
	top:1px;
}

.button-controls {
    margin-bottom: 10px;
}

/* palette link https://colorhunt.co/palette/112b3c205375f66b0eefefef */